<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">

	<title>Googol</title>
</head>

<body>
	<div class="login-page">
		<div class="login-wrapper">
			<div class="login-header">
				<h1>Login</h1>

			</div>

			<form th:action="@{/login}" method="post">
				<div class="login-form-wrapper">

					<div class="login-input">
						<label>Username</label> <input type="text" name="username" placeholder="Username"/>
					</div>
					<div class="login-input">
						<label>Password</label> <input type="password" name="password" placeholder="Password"/>
					</div>
					<div class="buttons">
						<input type="submit" value="Login" />
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>