<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles.css">
	<title>Googol</title>
</head>

<body>
	<div class="menu-page">
		<div class="menu-wrapper">
			<br>
			<div class="menu-wrapper-image-container">
				<img src="https://cdn.discordapp.com/attachments/887650198300528680/1108523287438442606/Group_1.png" alt="logo" class="logo">

			</div>


			<ul>
				<a href="/index-url"><li>Indexar novo url</li></a>
				<a href="/search-form"><li>Pesquisa por termos</li></a>
				<a href="/search-urls"><li>Consultar lista de paginas</li></a>
				<a href="/search-urls-hacker"><li>Indexar URLs topstories por termo</li></a>
				<a href="/search-users-hacker"><li>Indexar URLs stories de um user</li></a>
				<a href="/menu"><s><li>Admin</li></s></a>
				<a href="/login"><li>Logout</li></a>
			</ul>

			<br>
		</div>
	</div>
</body>

</html>